.contains-profile{
    width: 100%;
}

.contains-images{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 205px;
}

.background-image {
    position: relative;
    z-index: 1;
    height: 175px; /* Fixed height */
    width: 100%; /* Full width */
    background-image: url('../assets/test.jpg');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.avatar-image-profile{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top: -70px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.contains-profile-data{
    width: 100%;
}

.profile-data-displayname-div{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.7rem;
        font-weight: bold;
    }
}

.profile-data-username-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-data-username-div-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    p{
        font-size: 1rem;
    }
}

.distantator{
    width: 100%;
    height: 1px;
    background-color: #262626;
}

.onlinedot{
    margin-top: 5px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.profile-data-buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.profile-data-buttons p:nth-child(1){
    color: white;
}

.despartitor-butoane{
    background-color: #B7B7BC;
    width: 2px;
    border-radius: 40% 40%;
    height: 50px;
}

.profile-data-buttons p:nth-child(2){
    color: #B7B7BC;
}

.biuatua{
    width: 20px !important;
}

.contains-profile-phone{
    display: none;
}

@media(max-width: 500px){
    .contains-profile{
        display: none;
    }
    .contains-profile-phone{
        display: block;
    }

    .contains-images{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        padding: 20px;
    }

    .avatar-image-profile-phone{
        z-index: 2;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .contains-profile-data-phone{
        display: flex;
        gap:10px;
        flex-direction: column;
    }

    .contains-profile-data-followers-phone{
        gap:25px;
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:500px) {
    .notificationsText{
        font-size: 0.8rem;
    }

    .notificationsText span{
        font-size: 1rem !important;
    }

    .notificationsImage{
        width: 30px !important; 
        height: 30px !important;
    }

    .notificationsBulinuta{
        width: 7px !important;
        height: 7px !important;
    }

    .buttonRead{
        display: none !important;
    }
}


.notificationsImage{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}