.dropdownHead {
    position: relative; /* Adăugat pentru a poziționa pseudo-elementul relativ la acest element */
    cursor: pointer;
}

.dropdownHead::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Modificat pentru a începe de la stânga */
    width: 0;
    height: 2px;
    background-color: #0077ff;
    transition: width 0.3s ease;
}

.dropdownHead:hover::before {
    width: 100%;
}


.contains-profile{
    width: 100%;
}

.contains-images{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 145px;
}

.background-image {
    position: relative;
    z-index: 1;
    height: 120px; /* Fixed height */
    width: 100%; /* Full width */
    background-image: url('../assets/test.jpg');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.avatar-image-profile{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top: -65px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.contains-profile-data{
    width: 100%;
}

.profile-data-displayname-div{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 1.7rem;
        font-weight: bold;
    }
}

.profile-data-username-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-data-username-div-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    p{
        font-size: 1rem;
    }
}

.distantator{
    width: 100%;
    height: 1px;
    background-color: #262626;
}

.onlinedot{
    margin-top: 5px;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.profile-data-buttons{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 0px;
    gap:18px;
    justify-content: center;
    align-items: center;
}

.profile-data-buttons p:nth-child(1){
    color: white;
}

.despartitor-butoane {
    background-color: #303036;
    width: 2px; 
    border-radius: 40% / 100%;
    height: 25px; 
    display: inline-block; 
}

.profile-data-buttons p:nth-child(2){
    color: #B7B7BC;
}

.biuatua{
    width: 20px !important;
}

.contains-profile-phone{
    display: none;
}

@media(max-width: 639px){
    .contains-profile{
        display: none;
    }
    .contains-profile-pages{
        display: none;
    }
    .contains-profile-phone{
        display: block;
    }

    .contains-images{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: center;
        background-color: black;
        padding: 20px;
    }

    .avatar-image-profile-phone{
        z-index: 2;
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }

    .contains-profile-data-phone{
        display: flex;
        gap:10px;
        flex-direction: column;
    }

    .contains-profile-data-followers-phone{
        gap:25px;
        display: flex;
        flex-direction: row;
    }

    .notificationsBulinuta::after{
        width: 7px !important;
        height: 7px !important;
        margin-top:-2px !important;
        margin-left:-3px !important;
    }
}

@media (max-width:550px) {
    .notificationsText{
        font-size: 0.8rem;
    }

    .notificationsText span{
        font-size: 1rem !important;
    }

    .notificationsImage{
        width: 30px !important; 
        height: 30px !important;
    }

    .buttonRead{
        display: none !important;
    }
}


.notificationsImage{
    position: relative;
    z-index: 2;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.notificationsBulinuta {
    position: relative; 
}

.notificationsBulinuta::after{
    content: " ";
    display: inline-block; 
    width: 10px;
    height: 10px;
    background-color: #0DA1D4;
    border-radius: 50%;
    z-index: 999;
    position: absolute; 
    top: 0; 
    left: 0;
    margin-top:-3px;
    margin-left:-5px;
}

  
  .badges .animated_badge_svg {
       display: block;
       position: relative;
  }
  .badges .animated_badge {
       position: relative;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       width: 156px;
       height: 156px;
       margin: 24px 64px;
       background-color: #fff;
       border-radius: 100px;
       box-shadow: 0px 2px 4px rgba(25, 35, 49, 0.02), 0px 24px 32px rgba(25, 35, 49, 0.08), 0px 4px 40px rgba(0, 0, 0, 0.12);
       /* animation: fade-in-top 1.5s ease forwards; */
       /* will-change: transform, opacity; */
       opacity: 0;
  }
  .badges .animated_badge::before {
       content: '';
       position: absolute;
       left: 19px;
       top: 19px;
       width: 118px;
       height: 118px;
       background-color: #f1f1eb;
       border-radius: 100px;
       opacity: 0;
       /* animation: fade-in 1.5s ease forwards; */
       /* will-change: transform, opacity; */
  }
  
  /* .badges .animated_badge_1 {
    animation-delay: 0s;
  }
  .badges .animated_badge_2 {
    animation-delay: 2s;
  }
  .badges .animated_badge_3 {
    animation-delay: 4s;
  }
  .badges .animated_badge_4 {
    animation-delay: 6s;
  }
  .badges .animated_badge_5 {
    animation-delay: 8s;
  } */
  
  .badges .animated_badge .badge_ribbon {
       opacity: 0;
       transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
       transform-origin: center;
       /* animation: badge-ribbon-left-animation 1s 0.5s ease forwards; */
       /* will-change: transform, opacity; */
  }
  .badges .animated_badge .badge_ribbon.right {
       opacity: 0;
       transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
       transform-origin: center;
       /* animation: badge-ribbon-right-animation 1s 0.5s ease forwards; */
       /* will-change: transform, opacity; */
  }
  .badges .animated_stars {
       position: absolute;
       left: 0;
       top: 0;
  }
  .badges .animated_stars .animated_star {
       position: absolute;
       opacity: 0;
       /* animation: star-animation 0.6s 1s ease forwards; */
       /* will-change: transform, opacity; */
  }
  .badges .animated_stars .animated_star:nth-of-type(1) {
       left: -6px;
       top: 26px;
       animation-delay: 1s;
  }
  .badges .animated_stars .animated_star:nth-of-type(2) {
       left: 32px;
       top: 14px;
       /* animation-delay: 1.05s; */
  }
  .badges .animated_stars .animated_star:nth-of-type(3) {
       left: 75px;
       top: -12px;
       /* animation-delay: 1.1s; */
  }
  .badges .animated_stars .animated_star:nth-of-type(4) {
       left: 121px;
       top: 9px;
       /* animation-delay: 1.15s; */
  }
  .badges .animated_stars .animated_star:nth-of-type(5) {
       left: 152px;
       top: 35px;
       /* animation-delay: 1.2s; */
  }
  .badges .animated_stars .animated_star.plus {
       width: 12px;
       height: 12px;
  }
  .badges .animated_stars .animated_star.plus::before {
       content: '';
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       margin: auto;
       width: 12px;
       height: 4px;
       background-color: #d5d4d1;
       border-radius: 10px;
  }
  .badges .animated_stars .animated_star.plus::after {
       content: '';
       position: absolute;
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;
       margin: auto;
       width: 4px;
       height: 12px;
       background-color: #d5d4d1;
       border-radius: 10px;
  }
  .badges .animated_stars .animated_star.plus.yellow::before, .badges .animated_stars .animated_star.plus.yellow::after {
       background-color: #fcd977;
  }
  .badges .animated_stars .animated_star.donut {
       position: relative;
       width: 10px;
       height: 10px;
       border: 3px solid #fcd977;
       background-color: transparent;
       border-radius: 10px;
  }
  
  @keyframes star-animation {
       0% {
           opacity: 1;
           transform: scale(0.2);
      }
       50% {
           opacity: 1;
           transform: scale(1.5);
      }
       100% {
           opacity: 1;
           transform: scale(1);
      }
  }
  @keyframes badge-circle-animation {
       0% {
           opacity: 0;
           transform: translateY(-6px) scale(0.5);
      }
       100% {
           opacity: 1;
           transform: translateY(0) scale(1);
      }
  }
  @keyframes badge-ribbon-left-animation {
       0% {
           opacity: 0;
           transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
      }
       100% {
           opacity: 1;
           transform: translate(0) rotate(0deg) scale(1);
      }
  }
  @keyframes badge-ribbon-right-animation {
       0% {
           opacity: 0;
           transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
      }
       100% {
           opacity: 1;
           transform: translate(0) rotate(0deg) scale(1);
      }
  }
  
  @keyframes fade-in-top {
      0% {
         opacity: 0;
         transform: translateY(20px);
      }
  
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
  }
  
  @keyframes fade-in {
      0% {
          opacity: 0;
      }
  
      100% {
          opacity: 1;
      }
  }


